.task {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.task p {
    width: 80%;
    height: auto;
    margin: 0;
}

.task span {
    width: 15%;
    height: auto;
    text-align: center;
    cursor: pointer;
}